./dev/agpgart
./dev/audio
./dev/audio1
./dev/audio2
./dev/audio3
./dev/audioctl
./dev/console
./dev/dsp
./dev/dsp1
./dev/dsp2
./dev/dsp3
./dev/full
./dev/kmem
./dev/loop0
./dev/loop1
./dev/loop2
./dev/loop3
./dev/loop4
./dev/loop5
./dev/loop6
./dev/loop7
./dev/mem
./dev/midi0
./dev/midi00
./dev/midi01
./dev/midi02
./dev/midi03
./dev/midi1
./dev/midi2
./dev/midi3
./dev/mixer
./dev/mixer1
./dev/mixer2
./dev/mixer3
./dev/mpu401data
./dev/mpu401stat
./dev/null
./dev/port
./dev/ptmx
./dev/ram0
./dev/ram1
./dev/ram10
./dev/ram11
./dev/ram12
./dev/ram13
./dev/ram14
./dev/ram15
./dev/ram16
./dev/ram2
./dev/ram3
./dev/ram4
./dev/ram5
./dev/ram6
./dev/ram7
./dev/ram8
./dev/ram9
./dev/random
./dev/rmidi0
./dev/rmidi1
./dev/rmidi2
./dev/rmidi3
./dev/sequencer
./dev/smpte0
./dev/smpte1
./dev/smpte2
./dev/smpte3
./dev/sndstat
./dev/tty
./dev/tty0
./dev/tty1
./dev/tty2
./dev/tty3
./dev/tty4
./dev/tty5
./dev/tty6
./dev/tty7
./dev/tty8
./dev/tty9
./dev/urandom
./dev/zero